
html { 
	background: url(images/cake.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: black; 
}

body {
	margin: 0;
	padding: 0;
}

video#vidBgPg {
	position: fixed;
	bottom: 0px;
	right: 0px;
	top: 0px;
	min-width: 100%;
	min-height: 100%; 
	width: auto; 
	height: auto; 
	z-index: -100;
	overflow: hidden;
}

#wrap {
	width: 73.5%; 
	margin: 0 auto;
	/*width: 1300px;
	height: 700px;*/
}

#frame {
	width: 960px;
	height: 540px;
	border: 15px solid rgba(255, 255, 255, 0.6);
	/*background: linear-gradient(to bottom, rgba(186, 243, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 78%);*/
	/*box-shadow: 0px 0px 20px 0px rgba(60, 60, 60, 0.4);*/
	top: 10%;
	position: absolute;
	overflow: hidden;
}

#vidBg {
	width: 1056px;
	height: 540px;
	z-index: 0;
	left: 0;
	position: absolute;
	overflow: hidden;
}

	#vidBg video {
		position: absolute;
		top: -15px;
		width: 100%;
		height: auto;
	}

#mountains {
	width: 1920px;
	height: 540px;
	background-image: url(images/mountain.png);
	left: -91px;
	position: absolute;
	z-index: 1;
}

#houses {
	width: 1920px;
	height: 540px;
	background-image: url(images/houses.png);
	background-position: 0px -50px;
	z-index: 2;
	left: 0;
	position: absolute;
}

#trees {
	width: 2560px;
	height: 540px;
	background-image: url(images/trees2.png);
	background-position: 0px -50px;
	z-index: 3;
	left: 0;
	position: absolute;
}

#grass {
	width: 2880px;
	height: 490px;
	background-image: url(images/grass.png);
	background-repeat:repeat-x;
	background-position:left bottom;
	z-index: 4;
	left: 0;
	position: absolute;
}

#objects {
	width: 960px;
	height: 540px;
	top: 0;
	left: 0;
	z-index: 11;
	position: absolute;
}

#characterSpeed {
	left: 0;
	position: absolute;
}

img#character {
	bottom: 50px;
	left: -125px;
	z-index: 5;
	position: absolute;
}

#ground {
	width: 3200px;
	height: 50px;
	background-image: url(images/ground.jpg);
	bottom: 0;
	left: 0;
	z-index: 5;
	position: absolute;
}

#depth {
	width: 960px;
	height: 540px;
	box-shadow: 0px 0px 26px -2px rgba(60, 60, 60, 0.7) inset;
	z-index: 10;
	position: absolute;
}

/* fortune panel */
#panel {
	display: none;
}

#panel div {
	width: 190px;
	height: 250px;
	padding: 10px;
	border: 3px solid rgba(163, 138, 102, 0.8);
	box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.7), 0px 0px 4px 1px rgba(0, 0, 0, 0.66) inset;
	border-radius: 8px;
	background: linear-gradient(135deg, rgba(255, 253, 224, 0.85) 0%, rgba(255, 240, 198, 0.85) 100%);
	color: #5e4b33;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.115em;
	text-shadow: 0.5px 0.5px 2px rgba(50, 50, 50, 0.6);
	text-align: center;
	right: 40px;
	bottom: 70px;
	position: absolute;
}

#panel p {
	margin-top: 25px;
	margin-bottom: 0;
}

#panel div#preHappen {
	background: linear-gradient(125deg, rgba(249, 242, 249, 0.85) 0%, rgba(252, 236, 252, 0.85) 8%, rgba(253, 137, 215, 0.8) 100%);
	display: block;
	z-index: 2;
}

input[type="range"] {
	margin-top: 30px;
    width: 90%;
}

p#options {
	width: 100%;
	font-size: 0.8em;
	color: #505050;
	margin: 0;
	margin-bottom: 40px;
}

span#span1 {
	float: left;
	width: 33.33%;
	text-align: left;
}

span#span2 {
	text-align: center;
}

span#span3 {
	float: right;
	width: 33.33%;
	text-align: right;
}

#panel button {
	width: 80px;
	height: 30px;
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
	text-shadow: 0.4px 0.4px 1px rgba(10, 10, 10, 0.4);
	border: 3px solid rgba(255, 255, 255, 0.7);
	border-radius: 4px;
	box-shadow: 1px 1px 2px rgba(20, 20, 20, 0.5);
	font-size: 14px;
	margin-top: 20px;
}

	#panel button:focus {
		outline: 0;
	}

	#panel button:active {
		box-shadow: 0.5px 0.5px 1px rgba(20, 20, 20, 0.5);
	}

#happen button#fortune {
	margin-top: 30px; 
}

#panel div#happen {
	display: none;
}



